*{
   color: white;
   padding: 0;
   margin: 0;    
}

body {
    background-color: black;
}
/*-----------Titulo----------*/
#first_h{
	background-color: orange;
	padding: 1em 0 1em 0;
	margin: 2em 0 0 0;
	width: 100%;
	border: 1px solid blue;
}

#first_h .header_titulo{
	color: white;
	font-family: Agency FB;
	font-weight: bold;
	font-size: 4.5em;
	text-align: center;
	background-color: black;
    text-shadow: gray 0 4px 0;
	border: 1px dashed green;
}

#first_h .header_titulo{
	width: 100%;
	padding: 0.1em 0 0.1em 0;
	margin: 0;
}

#first_h .header_titulo .eleanor{
	color: white;
	font-family: Agency FB;
	font-size: 0.5em;
	font-weight: bold;
}

#nav_h {
	width: 100%;
	border: 0.1em solid red;
}

#nav_h .menu_info, a{
	list-style: none;
	text-decoration: none;
}
/*--------botones menu--------*/
#nav_h .menu_info{
	width: 100%;
    background-color: gray;
	border: 1px dashed yellow;
}

#nav_h .menu_info .div_h,
.div_ft {
    display: inline-block;
    padding: 0.1em 0em 0.1em 0em;
    width: 48%;
}

#nav_h .menu_info .div_h{
    border-right: 2px solid white;
}

#nav_h .menu_info
.item_h, .item_ft{
	font-family: Agency FB;
	font-weight: bold;
	font-size: 2.5em;
	text-align: center;    
}

/*----------img carro----------*/
#nav_h .fig_h .img_mb{
	width: 100%;
}
/*----------redes sociales---------*/
#nav_h .contenedor_rs{
	width: 100%;
	margin-top: 3em;
    background-color: gray;
	border: 1px dashed pink;
} 

#nav_h .contenedor_rs .div_rs{
    margin: auto;
    width: 170px;
    border: 1px dashed black;
}

#nav_h .contenedor_rs .div_rs .item_face,
.item_tw, .item_yt{
	width: 50px;  
}

/*----------Titulo2------*/
#principal .historia .second_h{
    background-color: red;
	padding: 1em 0 1em 0;
	margin: 2em 0 0 0;
	width: 100%;
}

#principal .historia .second_h .subt1{
    color: white;
	font-family: Agency FB;
	font-weight: bold;
	font-size: 4.5em;
	background-color: black;
    text-shadow: gray 0 4px 0;
    padding-left: 10%;
}

/*---------mustangflat-----------*/
#principal .historia .img_mf{
    width: 50%;
    margin-top: 1em;
    margin: auto;
    border: 1px dashed green;
    
}

#principal .historia .img_mf .item_mf{
    
    border: 1px dashed purple;
}