*{
   color: white;
   padding: 0;
   margin: 0; 
   height: auto;   
}

body {
    background-color: black;
}
/*-----------Titulo----------*/
#first_h{
	background-color: #F7931E;
	padding: 0.9em 0 0.9em 0;
	margin-top: 10px;
	width: 100%;
	
}

#first_h .header_titulo{
	color: white;
	font-family: Agency FB;
	font-weight: bold;
	font-size: 4em;
	text-align: center;
	background-color: black;
    text-shadow: gray 0 4px 0;
	
}

#first_h .header_titulo{
	width: 100%;
	padding: 0.1em 0 0.1em 0;
	margin: 0;
}

#first_h .header_titulo .eleanor{
	color: white;
	font-family: Agency FB;
	font-size: 0.5em;
	font-weight: bold;
}
/*--------botones menu--------*/
#nav_h {
	width: 100%;
	
}

#nav_h a, .menu_info{
	list-style: none;
	text-decoration: none;
}

#nav_h .menu_info{
    width: 100%;
    background-color: #1A1A1A;
	
}

#nav_h .menu_info .item_ft{
    border-left: 2px solid white;
}

#nav_h .menu_info
.item_h, .item_ft{
	font-family: Agency FB;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
    width: 48%;
    display: inline-block;
}

/*----------img carro----------*/
#nav_h .fig_h img{
    border-top-color: 5px solid white;
	width: 100%;
}

#nav_h .fig_h{
    width: 100%;
}

/*----------redes sociales---------*/
#nav_h {
    width: 100%;
    background-color: #1A1A1A;
}

#nav_h .contenedor_rs{
	width: 160px;
    margin: auto;
	margin-top: 0.5px;
} 

#nav_h .contenedor_rs img{
	width: 50px;  
}

/*----------Titulo2------*/
#section1 .historia .second_h{
    background-color: red;
	padding: 0.5em 0 0.5em 0;
	margin-top: 50px;
	width: 100%;
}

#section1 .historia .second_h h2{
    color: white;
	font-family: Agency FB;
	font-weight: bold;
	font-size: 3em;
	background-color: black;
    text-shadow: gray 0 4px 0;
    padding-left: 10%;
}

/*---------mustangflat-----------*/
#section1 .historia .img_mf{
    width: 95%;
    margin: auto;
    margin-top: 25px;
}

#section1 .historia .img_mf img{
    width: 100%;
}

/*----------texto de historia-------*/
#section1 .historia .info1,
.info2{
    color: black;
    font-family: Arial Narrow;
    font-size: 1em;
    text-align: justify;
    border: 0.3em solid red;
    border-radius: 10px;
    width: 90%;
    padding: 2%; 
    margin: 2%;
    background-color: #F2F2F2;
}

#section1 .historia .info1{
    margin-top: 20px;
}

/*-------------titulo3-----------*/
#section2 .third_h{
    background-color: #868561;
	padding: 0.5em 0 0.5em 0;
	margin: 2em 0 0 0;
	width: 100%;
}

#section2 .third_h h2{
    color: white;
	font-family: Agency FB;
	font-weight: bold;
	font-size: 3em;
	background-color: black;
    text-shadow: gray 0 4px 0;
    padding-left: 10%;
}

/*-----------velocimetro----------*/
#section2 .img_vf{
	width: 75%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 15px;
}

#section2 .img_vf img{
	width: 100%;
}

/*--------------section ftecnica------------*/
#section2 .fblanco, .famarillo{
	color: black;
    font-family: Arial Narrow;
    font-size: 1em;
    text-align: left;
    border: 0.3em solid #868561;
    border-radius: 10px;
    width: 90%;
    padding: 2%;
}

#section2 div strong{
	color: black;
    font-family: Arial Narrow;
    font-size: 1em;
}

#section2 .fblanco{
	background-color: white;
}

#section2 .famarillo{
	background-color: #FFFF00;
}


/*-----------nav ficha técnica--------*/
#section2  .nav_ft{
    width: 100%;
}

#section2  .nav_ft .b_inicio{
    width: 60px;
    margin:auto;
    margin-top: 20px;
    
}

#section2  .nav_ft .b_next img{
    width: 50px;
}

/*----------footer-------*/

footer{
	background-color: #1A1A1A;
	width: 100%;
	margin-top: 5%;
	padding-top: 0.5em;
    padding-bottom: 0.5em;
}

footer p{
	color: white;
	font-family: Agency FB;
	font-weight: bold;
	font-size: 1.5em;
    margin-left: 10%;
}


/*************************medias query*************************/


/****************------------------320px------------**********/
@media screen and (max-width: 320px){
    body{
        width: 100%;
     }

    /*****titulo principal***********/
     #first_h .header_titulo{
        font-size: 3em;
        text-shadow: gray 0 2.5px 0;
     } 
    
    /*****botones menu principal***********/
    #nav_h .menu_info {
        width: 100%;
        font-size: 0.9em;
    }
    
    /*****redes sociales***********/
     #nav_h .contenedor_rs{
        width: 130px;
        margin: auto;
     }

     #nav_h .contenedor_rs img{
        width: 40px;
     }

     /***********segundo y tercer titulo***********/
     #section1 .historia .second_h{
        margin-top: 80px;
     }

     #section2 .ftecnica .third_h{
        margin-top: 40px;
        margin-bottom: 40px;
     }

     #section1 .historia .second_h h2,
     #section2 .ftecnica .third_h h2{
        font-size: 2.5em;
        text-shadow: gray 0 2.5px 0;
    }
    
       /***********msutang y velocimetro flat**********/
     #section1 .historia .img_mf{
        max-width: 90%;
    }

    #section2  .img_vf{
        max-width: 50%;
        margin: auto;        
    }

     /***************ficha tecnica************/
    #section2 .fblanco, .famarillo{
        width: 100%;
        border-width: 2px;
    }

    #section2  .t1, .t2{
        max-width: 80%;
        margin: auto;
    }
}


/****************------------------321px 480px------------**********/
@media screen and (min-width: 321px) and (max-width: 480px){
 body{
        width: 100%;
     }

    /*****titulo principal***********/
     #first_h .header_titulo{
        font-size: 3em;
        text-shadow: gray 0 3px 0;
     }

     #first_h .header_titulo .eleanor{
        text-shadow: gray 0 2.5px 0;
     } 
    
    /*****botones menu principal***********/
    #nav_h .menu_info {
        width: 100%;
        font-size: 0.9em;
    }
    
    /*****redes sociales***********/
     #nav_h .contenedor_rs{
        width: 130px;
        margin: auto;
     }

     #nav_h .contenedor_rs img{
        width: 40px;
     }

     /***********segundo y tercer titulo***********/
     #section1 .historia .second_h{
        margin-top: 80px;
     }

     #section2 .ftecnica .third_h{
        margin-top: 40px;
        margin-bottom: 40px;
     }

     #section1 .historia .second_h h2,
     #section2 .third_h h2{
        font-size: 2.5em;
        text-shadow: gray 0 3px 0;
     }

     /***********msutang y velocimetro flat**********/
     #section1 .historia .img_mf{
        width: 70%;
        float: left;
    }

    #section2 .img_vf{
        max-width: 60%;
        margin: auto;
        margin-top:         
    }

    /******************texto historia*******************/
    #section1 .historia .info1{
        margin-top: 35px;
    }
    #section1 .historia .info1,
    .info2{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    /***************ficha tecnica************/
    #section2  .fblanco, .famarillo{
        width: 100%;
        border-width: 2.5px;
    }

    #section2  .t1, .t2{
        display: block;
        max-width: 75%;
        margin: auto;
    }

      /****************boton de section****************/
    #section2  .nav_ft .b_inicio img{
        width: 60px;
        margin-top: 30px;
    }
}


/****************------------------481px 767px------------**********/
@media screen and (min-width: 481px) and (max-width: 767px){
     body{
        width: 85%;
        margin: auto;
     }

    /*****titulo principal***********/
     #first_h .header_titulo{
        font-size: 4em;
     } 
    
    /*****botones menu principal***********/
    #nav_h .menu_info {
        width: 100%;
        font-size: 1em;
    }
    
    /*****redes sociales***********/
     #nav_h .contenedor_rs{
        width: 145px;
        margin: auto;
     }

     #nav_h .contenedor_rs img{
        width: 45px;
     }

     /***********segundo y tercer titulo***********/
     #section1 .historia .second_h{
        margin-top: 80px;
     }

     #section2 .ftecnica .third_h{
        margin-top: 40px;
        margin-bottom: 40px;
     }

     #section1 .historia .second_h h2,
     #section2 .ftecnica .third_h h2{
        font-size: 3em;
     }

     /***********msutang y velocimetro flat**********/
     #section1 .historia .img_mf{
        width: 60%;
        float: left;
    }

    #section2 .ftecnica .img_vf{
        width: 35%;        
    }

    /******************texto historia*******************/
    #section1 .historia .info1{
        margin-top: 35px;
    }
    #section1 .historia .info1,
    .info2{
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    /***************ficha tecnica************/
    #section2 .ftecnica .fblanco, .famarillo{
        width: 100%;
        margin: 0;
        border-width: 3px;
    }

    #section2 .ftecnica .t1{
        float: left;
        margin-left: 7%;
    }

    #section2 .ftecnica .t2{
        float: right;
        margin-right: 7%;
        margin-top: 10px;
    }

    #section2 .ftecnica .t1, .t2{
        display: inline-block;
        width: 40%;
    }

      /****************boton de section****************/
    #section2  .nav_ft{
        clear: both;
    }

    #section2  .nav_ft .b_inicio img{
        width: 65px;
        margin-top: 30px;
    }
 }


/****************------------------768px 1024px------------**********/
@media screen and (min-width: 768px) and (max-width: 1024px){
      body{
        width: 80%;
        margin: auto;
     }

    /*****titulo principal***********/
     #first_h .header_titulo{
        font-size: 5em;
     } 
    
    /*****botones menu principal***********/
    #nav_h .menu_info {
        width: 100%;
        font-size: 1em;
    }
    
    /*****redes sociales***********/
     #nav_h .contenedor_rs{
        width: 145px;
        margin: auto;
     }

     #nav_h .contenedor_rs img{
        width: 45px;
     }

     /***********segundo y tercer titulo***********/
     #section1 .historia .second_h{
        margin-top: 80px;
     }

     #section2 .ftecnica .third_h{
        margin-top: 40px;
        margin-bottom: 40px;
     }

     #section1 .historia .second_h h2,
     #section2 .ftecnica .third_h h2{
        font-size: 4em;
     }

     /***********msutang y velocimetro flat**********/
     #section1 .historia .img_mf{
        width: 60%;
        float: left;
    }

    #section2 .ftecnica .img_vf{
        width: 35%;        
    }

    /******************texto historia*******************/
    #section1 .historia .info1{
        margin-top: 35px;
    }
    #section1 .historia .info1,
    .info2{
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    /***************ficha tecnica************/
    #section2 .ftecnica .fblanco, .famarillo{
        width: 100%;
        margin: 0;
        border-width: 3.5px;
    }

    #section2 .ftecnica .t1{
        float: left;
        margin-left: 15%;
    }

    #section2 .ftecnica .t2{
        float: right;
        margin-right: 15%;
        margin-top: 10px;
    }

    #section2 .ftecnica .t1, .t2{
        display: inline-block;
        width: 30%;
    }

      /****************boton de section****************/
    #section2  .nav_ft{
        clear: both;
    }

    #section2  .nav_ft .b_inicio img{
        width: 60px;
        margin-top: 30px;
    }
}

/****************------------------1025px------------**********/
@media screen and (min-width: 1025px){
    body{
        width: 70%;
        margin: auto;
     }

    /*****titulo principal***********/
     #first_h .header_titulo{
        font-size: 5.5em;
     } 
    
    /*****botones menu principal***********/
    #nav_h .menu_info {
        width: 100%;
        font-size: 1.2em;
    }
    
    /*****redes sociales***********/
     #nav_h .contenedor_rs{
        width: 180px;
        margin: auto;
     }

     #nav_h .contenedor_rs img{
        width: 50px;
     }

     /***********segundo y tercer titulo***********/
     #section1 .historia .second_h{
        margin-top: 80px;
     }

     #section2 .ftecnica .third_h{
        margin-top: 40px;
        margin-bottom: 40px;
     }

     #section1 .historia .second_h h2,
     #section2 .third_h h2{
        font-size: 4.5em;
     }

     /***********msutang y velocimetro flat**********/
     #section1 .historia .img_mf{
        width: 40%;
        float: left;
    }

    #section2 .img_vf{
        width: 30%;
        margin-top: 20px;
        
    }

    /******************texto historia*******************/
    #section1 .historia .info1{
        margin-top: 35px;
    }
    #section1 .historia .info1,
    .info2{
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    /***************ficha tecnica************/
    #section2{
        overflow: hidden;
    }

    #section2  .t1 .fbalnco:nth-child(1){
        color: green;
    }

    #section2 .fblanco, .famarillo{
        max-width: 90%;
        margin: 0;
    }

    #section2 .t1{
        margin-left: 15%;
    }

    #section2 .t1, .t2{
        display: inline-block;
        max-width: 35%;
        margin-top: 10px;
    }

      /****************boton de section****************/
    #section2  .nav_ft .b_inicio img{
        width: 70px;
        margin-top: 30px;
    }

}