*{
   color: white;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

header{
	background-color: orange;
	padding: 1em 0 1em 0;
	margin: 2em 0 0 0;
	width: 100%;
	border: 1px solid blue;
}

header .header_titulo{
	color: white;
	font-family: ;
	font-weight: bold;
	font-size: 4em;
	text-align: center;
	background-color: black;
	border: 1px dashed green;
}

header .header_titulo{
	width: 100%;
	padding: 0.1em 0 0.1em 0;
	margin: 0;
}

header .header_titulo .eleanor{
	color: white;
	font-family: ;
	font-size: 0.5em;
	font-weight: bold;
}

#nav_h {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0.1em solid red;
}

#nav_h .fig_h .img_mb{
	width: 100%;
    border-top: 1em solid orange;
	border-bottom: 1em solid orange;
	border-radius: 1em;
}

#nav_h .fig_h{
	padding: 0;
    margin-top: 2em;
	border: 1px dashed white;
}

#nav_h .menu_info{
	width: 50%;
	padding: 1em;
	margin: auto;
	border: 1px dashed yellow;
}

#nav_h .menu_info, a{
	list-style: none;
	text-decoration: none;
}

#nav_h .menu_info
.historia, .ftecnica{
	font-family: ;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	border:1px dashed violet;
}

#nav_h .menu_info
.item_h, .item_ft{
	background-color: gray;
	border-radius: 0.4em;
	padding: 10px;
	margin: auto;
	border:1px dashed brown;
}

#nav_h .div_rs{
	width: 80%;
	margin: auto;
	border: 1px dashed pink;
} 

#nav_h .div_rs .item_face,
.item_tw, .item_yt{
	width: 10%;
	margin: 0 0 0 0.5em;
}